{{>common/header}}
<div class="container mt-4">
    <ul class="list-group">
        {{#newsPage.content}}
            <li class="list-group-item">
                <h4 class="mb-2"><a href="/news/{{newsId}}">제목 : {{title}}</a></h4>
                <small class="text-muted">News ID: {{newsId}}</small>
            </li>
        {{/newsPage.content}}
        <!-- Link to create new news-->
        <a href="/news/new">Create News</a>

        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <!-- ^ 이거는 해당 값이 존재하지 않는 경우에 특정 기능을 하고 싶을 때 사용. 시작 태그와 종료태그 사이의 코드를 수행..-->
            <li class="page-item {{^hasPrev}}disabled{{/hasPrev}}">
                <a class="page-link" href="?page={{prev}}" tab-index="-1" aria-disabled="true">
                    Previous
                </a>
            </li>
            {{#pageNumbers}}
                <li class="page-item {{#isCurrentPage}}active{{/isCurrentPage}}">
                    <a class="page-link" href="?page={{pageNumber}}">{{pageNumber}}</a>
                </li>
            {{/pageNumbers}}
            <li class="page-item {{^hasNext}}disabled{{/hasNext}}">
                <a class="page-link" href="?page={{next}}" tab-index="-1" aria-disabled="true">
                Next
                </a>
            </li>
        </ul>
    </ul>
</div>
{{>common/footer}}